<!DOCTYPE html>

<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Humphrey</title>

	<link rel="stylesheet" href="/humphrey.min.css">
	
</head>
<body>

	<main id="humphrey"></main>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/humphrey.min.js"></script>

</body>
</html>